@use "../../assets/sass/variables" as *;

.filter-item {
  display: none;

  @media only screen and (min-width: 770px) {
    display: grid;
    grid-template-columns: 17fr 1fr;
    padding: 10px 15px;
    border: 1px solid $color-black;
  }

}