@use "../../assets/sass/variables" as *;

.beer-card {
  border: 3px solid $color-black;
  box-shadow: 0px 1px 1px $color-black, 1px 2px 2px $color-black, 2px 3px 3px $color-black, 3px 4px 4px $color-black, 5px 6px 6px $color-primary;
  background-color: $color-secondary;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;

  &__image {
    width: 100px;
    height: 250px;
  }

  &__text {
    border: 2px solid $color-black;
    background-color: $color-secondary-light;
    box-shadow: 1px 2px 2px $color-black, 3px 4px 4px $color-black;
    height: 160px;
    padding: 5px;
    margin-top: 10px;
    
    &--name {
      text-shadow: 0px 0px 2px $color-primary;
      font-size: 20px;
    }

  }
}